{% extends "users/dashboard.html" %}

{% block dashboard_content %}
<h1 class="page-header">Orders</h1>
<input type="text" class="find-bar" placeholder="Find Orders">

<div class="item-list">
    {% for order in orders %}
    <div class="order-card">
        <h4>Order ID: {{ order.id }}</h4>
        <table>
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Items</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="order-footer">
            <div>Status: <span class="status-tag">Shipped</span></div>
            <div>Date: {{ order.created_at|date:"d-m-Y" }}</div>
        </div>
    </div>
    {% empty %}
    <p>You have no orders.</p>
    {% endfor %}
</div>
{% endblock %}
