{% extends "base.html" %}

{% load static %}

{% block title %}Our Team{% endblock title %}


{% block content %}

<section>

    <h1 class="team-page-heading">OUR TEAM</h1>
    <!-- Dr.Nagaraj Balakrishnan profile -->

    <section class="profile-section">
        <h1>VICE PRESIDENT & CEO OF AIC RAISE</h1>
        <div class="top-section">
        <img src="{% static '/images/Dr.Nagaraj.png'%}" alt="Dr. Nagaraj Balakrishnan" class="profile-pic" />

        <div class="bio">
            <h2>Dr. Nagaraj Balakrishnan</h2>
            <p>
            Dr. Prof. B. Nagaraj is the Director of Rathinam Group of Institutions, Coimbatore, and the Vice President and CEO of AIC RAISE. He specializes in student affairs and institutional branding. He earned his M.E. from Anna University and his Ph.D. from Karpagam University. Previously, he worked at Kamaraj College of Engineering for 12 years. His expertise includes control systems, automation, soft computing, and high-speed signal processing. Dr. Nagaraj has published over 52 papers, filed seven patents, and authored nine books. He is a member of IEEE, MAENG, IACSIT, ISTE, and IETE, and has served as a reviewer and Guest Editor for several reputed journals. He also organized world record attempts, achieving a LIMCA Book of Records entry in 2016.
            </p>

            <div class="contact">
                <span>Contact Information:</span>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/drbn/"><img src="{% static "/images/linkedin-logo.jpeg"%}" alt="LinkedIn" /></a>
                    <a href="#"><img src="{% static '/images/email-logo.jpeg' %}" alt="Email" /></a>
                </div>
                </div>
            </div>
            </div>

    <div class="bottom-section">
        <div class="column">
        <h3>KEY TECHNOLOGIES/PRODUCTS DEVELOPED:</h3>
        <ul>
            <li>Cost efficient tyre inflation monitoring system for any vehicle</li>
            <li>System and method for chlorophyll measurement</li>
            <li>Audience behavioural rating</li>
            <li>Smart automated rubber tree tapping machine</li>
            <li>Cost effective IR based anti-piracy theatre system</li>
            <li>DBI (Digital Bureau of Investigation)</li>
            <li>CHOLOROP (Chlorophyll measurement)</li>
        </ul>
        </div>

        <div class="column">
            <h3>COLLABORATIONS/ SOCIETY/INDUSTRY CONNECTS:</h3>
            <ul>
            <li>Niti Aayog, DST, DBT, Meity, Startup TN, AICTE, EDI</li>
            <li>Society for Engineering Education Enrichment – South India Section</li>
            <li>IEEE Broadcast Society – Madras Section</li>
            <li>Indian Society of Technical Association</li>
            <li>International Association Computer Science and Information Tech</li>
            <li>International Association of Engineers</li>
            <li>Instrument Society of India</li>
            </ul>
        </div>
        </div>
    </section>

    <!--Dr.Suryaraj-->

    <section class="profile-section2">
        <h1>CENTRE CO-ORDINATOR/HEAD</h1>
        <div class="top-section">
        <img src="{% static '/images/Dr.Surya.jpg' %}" alt="Dr. Suriyaraj" class="profile-pic" />

        <div class="bio">
            <h2>Dr. S. P. Suriyaraj</h2>
            <p>
            Dr. S. P. Suriyaraj holds a Master of Science in Nanoscience and Technology from Bharathiar University and a PhD in Nanobiotechnology from PSG Institute of Advanced Studies, Coimbatore. Further honred his expertise as a Post-Doctoral Fellow at the Department of Biotechnology, Indian Institute of Technology Madras. <br> <br>

    With over 12 years of experience in research, innovation, and incubation in the field of nanobiotechnology, his interests focus on bioremediation, environmental applications, and drug delivery systems. Dr. Suriyaraj has an impressive portfolio of more than 20 scientific publications, including original research papers, review articles, and book chapters, along with three patents. He has also mentored numerous bio-nano startups and innovators. <br> <br>

    His industrial experience spans over three years as Chief Technology Officer and Senior Scientist at Ardor Biomed India Pvt Ltd, Coimbatore, where he developed various medical devices and products through government funding and grants. Currently, he serves as a Associate Vice President at AIC Raise, an initiative supported by Atal Innovation Mission, NITI Aayog, Government of India. <br> <br>

    Passionate about fostering technology startups and nurturing budding entrepreneurs, Dr. Suriyaraj continues to make significant contributions to the field of nanobiotechnology.
            </p>

            <div class="contact">
                <span>Contact Information:</span>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/dr-s-p-suriyaraj-64720925/"><img src="{% static '/images/linkedin-logo.jpeg'%}" alt="LinkedIn" /></a>
                    <a href="#"><img src="{% static '/images/email-logo.jpeg'%}" alt="Email" /></a>
                </div>
                </div>
            </div>
            </div>
    </section>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>


    <section class="team-section">
        <div class="team-heading">
        <h1>OUR TEAM</h1>
        </div>

        <div class="team-container">
        <div class="team-card">
            <img src="{% static '/images/hari.jpg'%}" alt="HARIPRIYA">
            <div class="team-info">
            <h3>HARIPRIYA P</h3>
            <p> TEAM LEADER</p>
            <a href="www.linkedin.com/in/haripriya-p-55b198316" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            </div>
        </div>

        <div class="team-card">
            <img src="{% static '/images/RETHEESH.jpg'%}" alt="RETHEESH">
            <div class="team-info">
            <h3>RETHEESH R</h3>
            <p>TEAM LEADER</p>
            <a href="https://www.linkedin.com/in/retheesh-r-71849a281?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            
            </div>
        </div>

        <div class="team-card">
            <img src="{% static '/images/sternee.jpg'%}" alt="STERNEE">
            <div class="team-info">
            <h3>STERNEE S R</h3>
            <p>WEB DEVELOPER & GRAPHIC DESIGNER</p>
            <a href="https://www.linkedin.com/in/sternee-sr-154990322/" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            </div>
        </div>

        <div class="team-card">
            <img src="{% static '/images/anu.jpg'%}" alt="ANU">
            <div class="team-info">
            <h3>ANU A</h3>
            <p>DATA ANALYST & WEB DEVELOPER</p>
            <a href="https://www.linkedin.com/in/anu-selvam-17122a270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            </div>
        </div>

        <div class="team-card">
            <img src="{% static '/images/maria.jpg'%}" alt="MARIA">
            <div class="team-info">
            <h3>MARIA MISTICA S</h3>
            <p>FROONTEND WEB DEVELOPER</p>
            <a href="https://www.linkedin.com/in/maria-mistica-9b241a367?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            </div>
        </div>

        <div class="team-card">
            <img src="{% static '/images/EHASNI.jpg'%}" alt="EHASNI">
            <div class="team-info">
            <h3>EHASNI R</h3>
            <p>DATA ANALYST & WEB DEVELOPER</p>
            <a href="https://www.linkedin.com/in/ehasni-r-330021312?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="linkedin-link">
        <i class="fab fa-linkedin"></i>
        </a>
            </div>
        </div>
        </div>
    </section>

    <!-- Mentors -->
    <section class="team-carousel" id="Mentors">
    <div class="tcarousel-head">
    <h1>INTERNATIONAL TEAM- ADVISORS / MENTORS</h1>
    </div>
    <div class="tcarousel-div">
        <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="tcarousel-1">
            <li class="card">
            <div class="img"><img src="{% static '/images/varma.png'%}" alt="img" draggable="false"></div>
            <h4>Dr.Rajender Varma</h4>
            <span>Scientist,environmental protectionAgency,USA</span>
            </li>

            <li class="card">
            <div class="img"><img src="{%static '/images/richard zare.png' %}" alt="img" draggable="false"></div>
            <h4>Prof. Richard Zare</h4>
            <span>Natural science and chemist, Stanford University, USA</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/ajeet.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. Ajeet Kaushik</h4>
            <span>Department of Environmental Engineering of Florida Polytechnic University, USA</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/ajya.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. Ajay Kumar Mishra</h4>
            <span>Director, Academy of Nanotechnology and Waste Water Innovations, Johannesburg, South Africa</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static "/images/ravi.png"%}" alt="img" draggable="false"></div>
            <h4>Ravi Kikan</h4>
            <span>Board Advisor - Nasscom Community CXO COO CMO Chief Marketing Officer Mental Health Generative Gen AlDeep Technology Artificialintelligence SaaS</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/vijaya kumar.png'%}" alt="img" draggable="false"></div>
            <h4>Mr. Vijaya Kumar</h4>
            <span>Advisor International relationsatIIM Mumbai Executive Vice President at Starburst Aerospace Accelerator France CEOINLAMOBI</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/jacob.png'%}" alt="img" draggable="false"></div>
            <h4>Mr. Sanu Jacob</h4>
            <span>Director FSSAI - National Food Laboratory, Government of India</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/ashok.png'%}" alt="img" draggable="false"></div>
            <h4>Prof. Ashok Nanjundan</h4>
            <span>Dpt. Of Energy, University of Southern Queensland, Australia</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/sivakumar.png'%}" alt="img" draggable="false"></div>
            <h4>Sivakumar Palaniappan</h4>
            <span>Startup mentor, Leadership ExpertOrganizational Psychologist</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/sundaram.png'%}" alt="img" draggable="false"></div>
            <h4>Senthilarasu Sundaram</h4>
            <span>Professor, Teesside University, UK </span>
            </li>
            
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>  

    </section>

    <section class="team-carousel">
    <div class="tcarousel-head">
    <h1>NATIONAL TEAM - ADVISORS / MENTORS</h1>
    </div>
    <div class="tcarousel-div">
        <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="tcarousel-1">
            <li class="card">
            <div class="img"><img src="{% static '/images/rukumani.png'%}" alt="img" draggable="false"></div>
            <h4>Ruckmani Kandasamy</h4>
            <span>Professor, Department of Pharmaceutical Technology at Anna University, BIT Campus</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/ponpandi.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. N. Ponpandian</h4>
            <span>Dept of Nanoscience and Technology Bharathiar University</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/micheal.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. Michael Antonysamy</h4>
            <span>Dept. of Microbiology PSGCAS</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/selvakumar.png'%}" alt="img" draggable="false"></div>
            <h4>Prof. R. Selvakumar</h4>
            <span>Prof & Head, Dept. of Biotechnology and Nanobiotechnology, PSGIAS</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/chandraraj.png'%}" alt="img" draggable="false"></div>
            <h4>Prof. K. Chandraraj</h4>
            <span>Dept. of Biotechnology, IITM</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/renuka.png'%}" alt="img" draggable="false"></div>
            <h4>Rtn. Dr. Renuka Rama Krishnan</h4>
            <span>Dermatologist, Chennal</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/subbarao.png'%}" alt="img" draggable="false"></div>
            <h4>Aynampudi Subbarao</h4>
            <span>President at Indian Innovators Association Former Adviser at DSIR, Ministry ofS &T, GOI</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/thangadurai.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. P. Thangadurai</h4>
            <span>Centre for Nanoscience and Technology at Pondicherry University</span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/ravi.png'%}" alt="img" draggable="false"></div>
            <h4>Dr. D. Ravi Shankaran ph.d</h4>
            <span></span>
            </li>

            <li class="card">
            <div class="img"><img src="{% static '/images/venkata.png'%}" alt="img" draggable="false"></div>
            <h4>Prof. Venkata Krishnan</h4>
            <span>Department of Chemical Sciences Indian Institute of Technology Mandi</span>
            </li>
            
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>  

        <section class="team-section">
        <div class="team-heading">
        <h1>RATHINAM EXPERTS</h1>
        </div>

        <div class="team-containerr">
        <div class="team-cardd">
            <img src="{% static '/images/balakrishan.jpg'%}" alt="Balakrishnan">
            <div class="team-info">
            <h3>Dr. N. Balakrishnan</h3>
            <p>M. Pharm., Ph.D.,</p>
            <p><i class="fas fa-phone"></i> 9677526800</p>
            <p><i class="fas fa-envelope"></i> pharmacobala@gmail.com</p>
            <a href="https://aicraise.com/wp-content/uploads/2024/07/Dr.-N.-Balakrishnan.pdf" target="_blank" class="view-more-btn">View More</a>
            </div>
        </div>

        <div class="team-cardd">
            <img src="{% static '/images/j kumar.jpg'%}" alt="J Kumar">
            <div class="team-info">
            <h3>Dr. J. Kumar</h3>
            <p>M. Tech (Biotechnology)., PhD</p>
            <p><i class="fas fa-phone"></i> 9994343412 </p>
            <p><i class="fas fa-envelope"></i> kumarbio@gmail.com</p>
            <a href="https://aicraise.com/wp-content/uploads/2024/07/Dr.-J.-Kumar.pdf" target="_blank" class="view-more-btn">View More</a>
            </div>
        </div>

        <div class="team-cardd">
            <img src="{% static '/images/vaidev.jpg'%}" alt="vaidev">
            <div class="team-info">
            <h3>Dr. Vaidevi S</h3>
            <p>M. Tech (Nanotechnology), PhD</p>
            <p><i class="fas fa-phone"></i> +91-9791381694, 9585638227</p>
            <p><i class="fas fa-envelope"></i> vaidevipavi@gmail.com</p>
            <a href="https://aicraise.com/wp-content/uploads/2024/07/Dr.-Vaidevi-.-S.pdf" target="_blank" class="view-more-btn">View More</a>
            </div>
        </div>
            <div class="team-cardd">
            <img src="{% static '/images/kanagarj.png'%}" alt="Kanagaraj">
            <div class="team-info">
            <h3>Dr. C. Kanagaraj</h3>
            <p>MSc (Biotechnology), MBA, Ph.d</p>
            <p><i class="fas fa-phone"></i> 09952828687 </p>
            <p><i class="fas fa-envelope"></i> kanagaraj1983@gmail.com</p>
            <a href="https://aicraise.com/wp-content/uploads/2024/07/Dr.-C.-Kanagaraj.pdf" target="_blank" class="view-more-btn">View More</a>
            </div>
        </div>
    </section>
    
</section>
  
{% endblock content %}